# Regresión Logística

## Paso 1: Importar librerías

In [2]:
##Cargue de las librerías
import pandas as pd
import numpy as np
##Librerías para graficar
import matplotlib.pyplot as plt
import seaborn as sns
##Librerías para test de normalidad
import statsmodels.api as sm
from scipy import stats
##Librerias para preprocesamiento
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
##Librerías para over y under sampling
from sklearn.utils import resample

## Paso 2: Funciones

In [3]:
# Función para importar data .xlsx o .csv
def importDatos(ruta, archivo, ext):
    if ext == '.csv':
        data = pd.read_csv(ruta+archivo+ext)
        return data
    elif ext == '.xlsx':
        data = pd.read_excel(ruta+archivo+ext)
        return data
    else:
        print('Extensión diferente')

# Función informe sobre los datos NAN


def datos_NA(df):
    if isinstance(df, pd.DataFrame):
        total_na = df.isna().sum().sum()
        print("Dimensiones : %d filas, %d columnas" %
              (df.shape[0], df.shape[1]))
        print("Total Valores NA : %d " % (total_na))
        print("%38s %10s     %10s %10s" %
              ("Nombre Columna", "Tipo de Dato", "#Distintos", "Valores NA"))
        col_name = df.columns
        dtyp = df.dtypes
        uniq = df.nunique()
        na_val = df.isna().sum()
        for i in range(len(df.columns)):
            print("%38s %10s   %10s %10s" %
                  (col_name[i], dtyp[i], uniq[i], na_val[i]))

    else:
        print("Se esperaba dataframe %15s" % (type(df)))

# Función para pintar algo el histograma reemplazamos con la media o mediana


def histoPlot(df, nomCol, anchoBar):
    sns.histplot(data=df, x=nomCol, binwidth=anchoBar, kde=True)

# Función para reemplazo de valore numéricos con la mediana


def imputacionNa(df, nomCol, param):
    if param == 'media':
        df[nomCol] = df[nomCol].fillna(df[nomCol].mean())
        return df[nomCol]
    else:
        df[nomCol] = df[nomCol].fillna(df[nomCol].median())
        return df[nomCol]
# Funcion para revisar datos categóricos o texto


def revCategoricos(df, nomCol):
    rev = df[nomCol].value_counts()
    return rev

# Función para datos categóricos modificaciones


def imputacionCat(df, nomCol, busqueda, reempl):
    df[nomCol] = np.where(df[nomCol] == busqueda, reempl, df[nomCol])
    return df[nomCol]

# Función para reeemplazo NA categóricos


def imputacionCatNa(df, nomCol):
    df[nomCol] = df[nomCol].fillna(df[nomCol].mode()[0])
    return df[nomCol]

# Función para cambiar datos de texto a numerico float64


def cambioTextNum(df, nomCol, tipo):
    df[nomCol] = df[nomCol].astype(tipo)
    return df[nomCol]

# Función modificar a 1 y 0 los datos categóricos


def camTextBi(df, nomCol, busqueda, camuno, camdos):
    df[nomCol] = np.where(df[nomCol] == busqueda, camuno, camdos)
    return df[nomCol]

# Función para variables dummies


def convDummies(df, nomCol):
    dummies = pd.get_dummies(df[nomCol])
    data = pd.concat([df, dummies], axis=1)
    data.drop(columns=[nomCol], inplace=True)
    return data

# Función cambiar encabezados del dataframe


def camEncab(df, listaN):
    df.columns = listaN
    return df

# Función para el test de Shapiro - wilk - resistente al ruido en los datos


def testShapiroWilk(df):
    valoresP = []
    concepto = []
    variable = []
    for column in df:
        k2, p_value = stats.shapiro(df[column].values)
        valoresP.append(p_value)
        variable.append(column)
        if (p_value < 0.05):
            concepto.append('No es una variable Normal')
        else:
            concepto.append('Es una variable Normal')
    dfShapiro = pd.DataFrame(
        {'Variable': variable, 'Valores P': valoresP, 'Concepto': concepto})
    return dfShapiro

# Función para normalizar la data min - max sklearn


def normaData(df):
    valores = df.values  
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler = scaler.fit(valores)

    pd.DataFrame(np.vstack((scaler.data_min_, scaler.data_max_)),
             index=['Min', 'Max'],
             columns=df.columns)

    normalizados = scaler.transform(valores)
    df_norm = pd.DataFrame(normalizados,
                       index=df.index,
                       columns=df.columns)
    return df_norm

## Función para Estandarizar la data formula z-score
def stanData(df):
    scaler = StandardScaler()
    standardized_data = scaler.fit_transform(df)
    df_stan = pd.DataFrame(standardized_data, columns=df.columns)
    return df_stan

## Función para hacer la matriz de correlación de manera Tidy
def tidy_corr_matrix(corr_mat):
    '''
    Función para convertir una matriz de correlación de pandas en formato tidy.
    '''
    corr_mat = corr_mat.stack().reset_index()
    corr_mat.columns = ['variable_1','variable_2','r']
    corr_mat = corr_mat.loc[corr_mat['variable_1'] != corr_mat['variable_2'], :]
    corr_mat['abs_r'] = np.abs(corr_mat['r'])
    corr_mat = corr_mat.sort_values('abs_r', ascending=False)
    
    return(corr_mat)

##Función de label encoder
def Codificacion(df, nomCol):
    label_e = LabelEncoder()
    df[nomCol] = label_e.fit_transform(df[nomCol])
    return df[nomCol]

##FUncion para oversampling
def OverSample(df, nomCol, param):
    dataFMayor = df[df[nomCol]==0]
    dataFMenor = df[df[nomCol]==1]
    df_minoritaria = resample(dataFMenor, 
                                 replace=True,     
                                 n_samples=param,    
                                 random_state=123)
    df_Over = pd.concat([dataFMayor, df_minoritaria])
    return df_Over

## Paso 3: Llamado a Funciones

In [4]:
X = importDatos("/home/julian/Documentos/DiplomadoML/DocumentacionDiplomadoML/4. Aprendizaje Supervisado Clasificación/Datasets/", 'X','.csv')
y = importDatos("/home/julian/Documentos/DiplomadoML/DocumentacionDiplomadoML/4. Aprendizaje Supervisado Clasificación/Datasets/", 'y','.csv')

In [5]:
##Revisión de datos NAN
datos_NA(X)

Dimensiones : 36881 filas, 24 columnas
Total Valores NA : 74668
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                              Location     object           46          0
                               MinTemp    float64          369        338
                               MaxTemp    float64          470        242
                              Rainfall    float64          432        626
                           Evaporation    float64          215      12846
                              Sunshine    float64          144      13564
                           WindGustDir     object           16       3368
                         WindGustSpeed    float64           64       3361
                            WindDir9am     object           16       2809
                            WindDir3pm     object           16        962
                          WindSpeed9am    float64           39        662
                          WindSpeed3pm    float64           39        646
                           Humidity9am    float64           99        570
                           Humidity3pm    float64          100        511
                           Pressure9am    float64          509       3572
                           Pressure3pm    float64          503       3552
                              Cloud9am    float64           10      12500
                              Cloud3pm    float64            9      12982
                               Temp9am    float64          400        487
                               Temp3pm    float64          469        444
                             RainToday     object            2        626
                                  Year      int64            6          0
                                 Month      int64           12          0
                                   Day      int64           31          0

In [6]:
##Valores NAN
datos_NA(y)

Dimensiones : 36881 filas, 1 columnas
Total Valores NA : 620
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                          RainTomorrow     object            2        620

In [7]:
###Limpieza de datos NAN
revCategoricos(X, 'Location')

##Crear variables dummies para cada Location hacer a lo ultimo
dataFinal = convDummies(X, 'Location')

In [8]:
##Limpiar NAN mintemp y max temp
X['MinTemp']= imputacionNa(X, 'MinTemp','Mediana')
X['MaxTemp']= imputacionNa(X, 'MaxTemp','Mediana')
X['Rainfall']= imputacionNa(X, 'Rainfall','Mediana')
X['Evaporation']= imputacionNa(X, 'Evaporation','Mediana')
X['Sunshine']= imputacionNa(X, 'Sunshine','Mediana')
X['WindGustSpeed']= imputacionNa(X, 'WindGustSpeed','Mediana')

X['WindSpeed9am']= imputacionNa(X, 'WindSpeed9am','Mediana')
X['WindSpeed3pm']= imputacionNa(X, 'WindSpeed3pm','Mediana')
X['Humidity9am']= imputacionNa(X, 'Humidity9am','Mediana')
X['Humidity3pm']= imputacionNa(X, 'Humidity3pm','Mediana')
X['Pressure9am']= imputacionNa(X, 'Pressure9am','Mediana')
X['Pressure3pm']= imputacionNa(X, 'Pressure3pm','Mediana')
X['Cloud9am']= imputacionNa(X, 'Cloud9am','Mediana')
X['Cloud3pm']= imputacionNa(X, 'Cloud3pm','Mediana')
X['Temp9am']= imputacionNa(X, 'Temp9am','Mediana')
X['Temp3pm']= imputacionNa(X, 'Temp3pm','Mediana')

In [9]:
##Limpieza Categóricos
X['WindGustDir']= imputacionCatNa(X, 'WindGustDir')
X['WindDir9am']= imputacionCatNa(X, 'WindDir9am')
X['WindDir3pm']= imputacionCatNa(X, 'WindDir3pm')
X['RainToday']= imputacionCatNa(X, 'RainToday')

In [10]:
##Revisión general
datos_NA(X)

Dimensiones : 36881 filas, 24 columnas
Total Valores NA : 0
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                              Location     object           46          0
                               MinTemp    float64          369          0
                               MaxTemp    float64          470          0
                              Rainfall    float64          432          0
                           Evaporation    float64          215          0
                              Sunshine    float64          144          0
                           WindGustDir     object           16          0
                         WindGustSpeed    float64           64          0
                            WindDir9am     object           16          0
                            WindDir3pm     object           16          0
                          WindSpeed9am    float64           39          0
                          WindSpeed3pm    float64           39          0
                           Humidity9am    float64           99          0
                           Humidity3pm    float64          100          0
                           Pressure9am    float64          509          0
                           Pressure3pm    float64          503          0
                              Cloud9am    float64           10          0
                              Cloud3pm    float64            9          0
                               Temp9am    float64          400          0
                               Temp3pm    float64          469          0
                             RainToday     object            2          0
                                  Year      int64            6          0
                                 Month      int64           12          0
                                   Day      int64           31          0

In [11]:
##Convertir a Número variables categóricas
dataN = convDummies(X, 'Location')

In [12]:
dataN.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,SydneyAirport,Townsville,Tuggeranong,WaggaWagga,Walpole,Watsonia,Williamtown,Witchcliffe,Wollongong,Woomera
0,5.1,14.3,0.0,1.8,8.9,NW,30.0,WSW,SSE,7.0,...,0,0,0,0,0,0,0,0,0,0
1,1.1,14.5,0.4,4.6,8.4,SSW,50.0,E,SW,7.0,...,0,0,0,0,0,0,0,0,0,0
2,19.7,26.2,0.0,7.2,7.2,SSE,41.0,SSE,SSE,19.0,...,0,0,0,0,0,0,1,0,0,0
3,16.6,28.0,0.0,9.0,11.3,SW,54.0,SSE,SW,28.0,...,0,0,0,0,0,0,0,0,0,0
4,14.6,25.3,0.0,4.6,8.4,NNW,43.0,WNW,N,6.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
revCategoricos(dataN, 'WindGustDir')

SE     5771
W      2375
SSE    2330
N      2328
S      2317
SW     2272
E      2209
WSW    2206
SSW    2139
WNW    2052
ENE    2026
NW     1940
ESE    1894
NE     1769
NNE    1663
NNW    1590
Name: WindGustDir, dtype: int64

In [14]:
##Cambiar a North, South, East, West, NW, NE, SE, SW - label encoder
dataN.WindGustDir = imputacionCat(X, 'WindGustDir', 'SSE','SE')
dataN.WindGustDir = imputacionCat(X, 'WindGustDir', 'WSW','SW')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'SSW','SW')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'WNW','NW')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'ENE','NE')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'ESE','SE')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'NNE','NE')
X.WindGustDir = imputacionCat(X, 'WindGustDir', 'NNW','NW')

##Label encoder
from sklearn import preprocessing

label_e = preprocessing.LabelEncoder()

X.WindGustDir = label_e.fit_transform(X.WindGustDir)

revCategoricos(X, 'WindGustDir')

5    9995
6    6617
3    5582
2    5458
7    2375
1    2328
4    2317
0    2209
Name: WindGustDir, dtype: int64

In [15]:
revCategoricos(X, 'WindDir9am')

N      5671
SE     2421
E      2375
SSE    2301
S      2233
W      2218
ENE    2090
SW     2085
NW     2077
NNE    2059
NNW    2017
NE     1941
SSW    1895
ESE    1864
WNW    1860
WSW    1774
Name: WindDir9am, dtype: int64

In [16]:
##Cambiar a North, South, East, West, NW, NE, SE, SW 
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'SSE','SE')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'WSW','SW')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'SSW','SW')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'WNW','NW')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'ENE','NE')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'ESE','SE')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'NNE','NE')
dataN.WindDir9am = imputacionCat(dataN, 'WindDir9am', 'NNW','NW')

##Label encoder
dataN.WindDir9am = Codificacion(dataN, 'WindDir9am')

In [17]:
revCategoricos(dataN, 'WindDir3pm')

SE     3901
S      2547
W      2486
WSW    2410
SSE    2381
SW     2377
N      2278
E      2252
WNW    2208
NW     2178
ESE    2163
NE     2136
ENE    2063
SSW    1994
NNW    1860
NNE    1647
Name: WindDir3pm, dtype: int64

In [18]:
##Cambiar a North, South, East, West, NW, NE, SE, SW 

dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'SSE', 'SE') 
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'WSW', 'SW')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'SSW', 'SW')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'WNW', 'NW')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'ENE', 'NE')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'ESE', 'SE')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'NNE', 'NE')
dataN.WindDir3pm = imputacionCat(X, 'WindDir3pm', 'NNW', 'NW')

dataN.WindDir3pm = Codificacion(X, 'WindDir3pm')

In [19]:
revCategoricos(dataN, 'RainToday')

No     28382
Yes     8499
Name: RainToday, dtype: int64

In [20]:
##Binarizar No =0 y Si=1
dataN['RainToday'] = camTextBi(dataN, 'RainToday', 'No', 0, 1)
revCategoricos(dataN, 'RainToday')

0    28382
1     8499
Name: RainToday, dtype: int64

In [21]:
##Imputación de variables predictora
y['RainTomorrow'] = imputacionCatNa(y, 'RainTomorrow')
y['RainTomorrow'] = camTextBi(y, 'RainTomorrow', 'No', 0, 1)

In [22]:
revCategoricos(y, 'RainTomorrow')

0    28352
1     8529
Name: RainTomorrow, dtype: int64

In [23]:
datos_NA(y)

Dimensiones : 36881 filas, 1 columnas
Total Valores NA : 0
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                          RainTomorrow      int64            2          0

In [24]:
dataOver = OverSample(y, 'RainTomorrow', 28352)

dataOver.value_counts()

RainTomorrow
0               28352
1               28352
dtype: int64

Tarea hacer el undesampling y ver el modelo

In [25]:
## Normalizar la data
dataN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36881 entries, 0 to 36880
Data columns (total 69 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MinTemp           36881 non-null  float64
 1   MaxTemp           36881 non-null  float64
 2   Rainfall          36881 non-null  float64
 3   Evaporation       36881 non-null  float64
 4   Sunshine          36881 non-null  float64
 5   WindGustDir       36881 non-null  object
 6   WindGustSpeed     36881 non-null  float64
 7   WindDir9am        36881 non-null  int64
 8   WindDir3pm        36881 non-null  int64
 9   WindSpeed9am      36881 non-null  float64
 10  WindSpeed3pm      36881 non-null  float64
 11  Humidity9am       36881 non-null  float64
 12  Humidity3pm       36881 non-null  float64
 13  Pressure9am       36881 non-null  float64
 14  Pressure3pm       36881 non-null  float64
 15  Cloud9am          36881 non-null  float64
 16  Cloud3pm          36881 non-null  float64
 17  Temp9am           36881 non-null  float64
 18  Temp3pm           36881 non-null  float64
 19  RainToday         36881 non-null  int64
 20  Year              36881 non-null  int64
 21  Month             36881 non-null  int64
 22  Day               36881 non-null  int64
 23  Adelaide          36881 non-null  uint8
 24  Albany            36881 non-null  uint8
 25  Albury            36881 non-null  uint8
 26  AliceSprings      36881 non-null  uint8
 27  BadgerysCreek     36881 non-null  uint8
 28  Ballarat          36881 non-null  uint8
 29  Bendigo           36881 non-null  uint8
 30  Brisbane          36881 non-null  uint8
 31  Cairns            36881 non-null  uint8
 32  Canberra          36881 non-null  uint8
 33  Cobar             36881 non-null  uint8
 34  CoffsHarbour      36881 non-null  uint8
 35  Dartmoor          36881 non-null  uint8
 36  Darwin            36881 non-null  uint8
 37  GoldCoast         36881 non-null  uint8
 38  Hobart            36881 non-null  uint8
 39  Launceston        36881 non-null  uint8
 40  Melbourne         36881 non-null  uint8
 41  MelbourneAirport  36881 non-null  uint8
 42  Mildura           36881 non-null  uint8
 43  Moree             36881 non-null  uint8
 44  MountGambier      36881 non-null  uint8
 45  MountGinini       36881 non-null  uint8
 46  Newcastle         36881 non-null  uint8
 47  NorahHead         36881 non-null  uint8
 48  NorfolkIsland     36881 non-null  uint8
 49  Nuriootpa         36881 non-null  uint8
 50  PearceRAAF        36881 non-null  uint8
 51  Penrith           36881 non-null  uint8
 52  Perth             36881 non-null  uint8
 53  PerthAirport      36881 non-null  uint8
 54  Portland          36881 non-null  uint8
 55  Richmond          36881 non-null  uint8
 56  Sale              36881 non-null  uint8
 57  SalmonGums        36881 non-null  uint8
 58  Sydney            36881 non-null  uint8
 59  SydneyAirport     36881 non-null  uint8
 60  Townsville        36881 non-null  uint8
 61  Tuggeranong       36881 non-null  uint8
 62  WaggaWagga        36881 non-null  uint8
 63  Walpole           36881 non-null  uint8
 64  Watsonia          36881 non-null  uint8
 65  Williamtown       36881 non-null  uint8
 66  Witchcliffe       36881 non-null  uint8
 67  Wollongong        36881 non-null  uint8
 68  Woomera           36881 non-null  uint8
dtypes: float64(16), int64(6), object(1), uint8(46)
memory usage: 8.1+ MB