## Introducción a Dataframes

### Paso 1: Librerías

In [14]:
##librerías de importación -> acceso a modulos, métodos y clases
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore')

### Paso 2: Funciones

In [31]:
##Importación de la data
def importDatos(ruta, nomArchivo, ext, sep):
    if ext=='.xlsx':
        data = pd.read_excel(ruta+nomArchivo+ext)
        return data
    elif ext=='.csv':
        data = pd.read_csv(ruta+nomArchivo+ext, sep)
        return data
    else:
        print('Extensión equivocada')

# Función informe sobre los datos NAN
def datos_NA(df):
    if isinstance(df, pd.DataFrame):
        total_na = df.isna().sum().sum()
        print("Dimensiones : %d filas, %d columnas" % (df.shape[0], df.shape[1]))
        print("Total Valores NA : %d " % (total_na))
        print("%38s %10s     %10s %10s" %
              ("Nombre Columna", "Tipo de Dato", "#Distintos", "Valores NA"))
        col_name = df.columns
        dtyp = df.dtypes
        uniq = df.nunique()
        na_val = df.isna().sum()
        for i in range(len(df.columns)):
            print("%38s %10s   %10s %10s" %
                  (col_name[i], dtyp[i], uniq[i], na_val[i]))

    else:
        print("Se esperaba dataframe %15s" % (type(df)))

### Paso 3: Llamado a funciones

In [21]:
datos = importDatos('./Datasets/','CovidDiagnosis', '.xlsx', None)
datos

##Eliminar columna
##datos = datos.drop(['Unnamed: 0'], axis=1)

datos

     Age     Gender Temperature Headache  Fever       Hospital CovidDiagnosis
0   12.0  Masculino         36°       SI    1.0     Moncaleano       positive
1   35.0   Femenino          38       NO    0.0      Medilaser       negative
2   65.0        NaN         36C      YES    1.0  Carmen Emilia       negative
3   78.0        NaN          39      NOP    1.0     Moncaleano       negative
4   41.0  Masculino         40.       SI    0.0      Medilaser       positive
..   ...        ...         ...      ...    ...            ...            ...
94   7.0   Femenino          42      OUI    1.0      Medilaser       positive
95   7.0  Masculino          35      OUI    0.0  Carmen Emilia       positive
96  25.0   Femenino        35.2      YES    NaN     Moncaleano       negative
97  26.0   Femenino        35.6      YES    NaN      Medilaser       negative
98  30.0   Femenino        36.9      YES    NaN  Carmen Emilia       negative

[99 rows x 7 columns]

In [32]:
datos_NA(datos)

Dimensiones : 99 filas, 7 columnas
Total Valores NA : 49
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                                   Age    float64           46          3
                                Gender     object            6          3
                           Temperature     object           30          1
                              Headache     object            6         35
                                 Fever    float64            2          7
                              Hospital     object            3          0
                        CovidDiagnosis     object            2          0